<div class="dashboard-container">
  <!-- Menú lateral -->
  <nav class="sidebar">
    <!-- Header con logo y nombre -->
    <div class="sidebar-header">
      <img src="assets/images/logo.jpg" alt="Logo" class="logo" />
      <h4 class="username">Hola, {{ username }}</h4>
    </div>

    <!-- Menú -->
    <ul class="menu">
      <li>
        <a
          routerLink="/inicio/productos"
          routerLinkActive="active"
          class="menu-item"
        >
          <i class="bi bi-box-seam"></i>
          <span>Productos</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/inicio/pedidos"
          routerLinkActive="active"
          class="menu-item"
        >
          <i class="bi bi-cart-fill"></i>
          <span>Pedidos</span>
        </a>
      </li>
      <!-- li para clientes-->
      <li>
        <a
          routerLink="/inicio/clientes"
          routerLinkActive="active"
          class="menu-item"
        >
          <i class="bi bi-person-fill"></i>
          <span>Clientes</span>
        </a>
      </li>
    </ul>

    <!-- Botón de cerrar sesión -->
    <div class="sidebar-footer">
      <button class="btn btn-logout" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i>
        <span>Cerrar Sesión</span>
      </button>
    </div>
  </nav>

  <!-- Contenido principal -->
  <main class="main-content">
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
